@import "tailwindcss";
@import "./styles/theme.css";

/* base reset (optional but recommended) */

body {
  font-family: var(--font-primary);
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: var(--transition);
}
