@import "tailwindcss";
@import "./styles/theme.css";

/* GLOBAL BODY */
body {
  font-family: var(--font-sans);
  background-color: var(--background);
  color: var(--foreground);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 12px;
  background-color: var(--card);
  border: 1px solid var(--border);
  color: var(--foreground);

  outline: none;
  transition: 0.2s;
}

.input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}
